/*This is for Lab 3 */

.intro::first-line {
  border-style: inset;
  border-color: #ff0000;
  border-width: 0.1em;
  border-radius: 5px;
}

.intro:hover {
  border-style: inset;
  border-color: #f9245a;
  border-width: 1vh;
  border-radius: 0.1cm;
}

#beforeintro + p.intro {
  border-style: solid;
  border-color: green;
  border-width: 5px;

  margin-top: 0.1vw;
  margin-bottom: 0.2vw;
  margin-left: 0.3vw;
  margin-right: 0.4vw;

  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;

  height: 50%;
  width: 80%;
}

#mid + p.intro {
  margin: 0.01in 0.02in 0.03in 0.04in;
  /* color: green; */

  padding: 0.01in 0.02in 0.03in 0.04in;

  min-width: 30%;

  height: 50%;
  max-width: 80%;
}

#mid ~ aside {
  margin: auto;
  /* color: red; */
}

* {
  text-decoration: underline;
}

ul > li {
  color: red;
}

ol em {
  color: blue;
}

h3 + p {
  color: chartreuse;
}

h1 {
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
}

a[target='_blank']:active {
  color: green;
}

span.question {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 3px solid green;
  position: relative;
  left: 100px;
}

#point {
  position: fixed;
  bottom: 0;
  right: 0;
}

#date {
  display: none;
}

#box {
  display: flex;
  flex-direction: row;
  color: green;
  margin: auto;
}
#box > p {
  flex-basis: auto;
  flex-grow: 5;
  flex-shrink: 3;
}

#grid {
  /* color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#grid > #prime {
  /* color: red; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: yellow;
}

/* a > b {
    line-height: ;
    font-size: ;
} */
