/*This is for Lab 3 */
.intro::first-line {
  border-style: inset;
  border-color: #ff0000;
  border-width: 0.1em;
  border-radius: 5px;
}

.intro:hover {
  border-style: inset;
  border-color: #f9245a;
  border-width: 1vh;
  border-radius: 0.1cm;
}

#beforeintro + p.intro {
  border-style: solid;
  border-color: green;
  border-width: 5px;

  margin-top: 0.1vw;
  margin-bottom: 0.2vw;
  margin-left: 0.3vw;
  margin-right: 0.4vw;

  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;

  height: 50%;
  width: 80%;
}

#mid + p.intro {
  margin: 0.01in 0.02in 0.03in 0.04in;
  /* color: green; */

  padding: 0.01in 0.02in 0.03in 0.04in;
}

#mid ~ aside {
  margin: auto;
  /* color: red; */
}

* {
  text-decoration: underline;
}

ul > li {
  color: red;
}

ol em {
  color: blue;
}

h3 + p {
  color: chartreuse;
}

h1 {
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
}

a[target='_blank']:active {
  color: green;
}

/* a > b {
    line-height: ;
    font-size: ;
} */
